@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(148, 145, 145);
}

header > h1 {
    text-align: center;
    padding: 10px;
}

#burguer{
    text-align: center;
    background-color: rgb(41, 40, 40);
    display: block;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover{
    background-color: white;
    color: black;
}


menu {
  display: none;
    
}

menu ul{
    list-style-type: none;
}
header a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: rgb(83, 82, 82);
    text-align: center;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover{
    background-color: gray;
}

main{
    width: 90%;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    
}

section h2{
    padding-bottom: 20px;
}

section p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;

}


body,html {
    background-color: lightgrey;
}




