@charset "UTF-8";

/* Todas as demais midias*/

/* typical divece breakpoints
Pequenas telas: ate 600px
celulares : de 600px ate 760px
tablets: 768px aate 992px
Desktop: 992px ate 1200px
grandes telas: acima de 1200px
*/

@media print {

    * {

        font-family: 'Courier New', Courier, monospace;

    }

    body {
        /* background-image: url(../imagens/back-print.jpg);desnecessario */


    }

    main {
        border: 2px solid black;
    }

    main::after {
        content: 'Essa impressao foi feita atravers do site pipipipopo.com';
        text-decoration: overline;
    }

    main h1 {
        text-shadow: none;
        color: black;

    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: block
    }

    img#pc {
        display: none
    }

    img#tv {
        display: none
    }
}

@media screen and (min-width:768px) and (max-width: 992px) {
    /* tablets*/

    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    main{
        background-color: rgba(0, 0, 255, 0.336);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }

    img#print {
        display: none
    }

    img#pc {
        display: none
    }

    img#tv {
        display: none
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    /*Desktop*/

    body {
        background-image: url(../imagens/back-pc.jpg);

    }

    main{
        background-color: rgba(0, 255, 64, 0.336);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none
    }

    img#pc {
        display: block
    }

    img#tv {
        display: none
    }

}

@media screen and (min-width: 1200px) {

    /* Telas gandes*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main{
        
            background-color: rgba(255, 0, 0, 0.336);
        
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none
    }

    img#pc {
        display: none
    }

    img#tv {
        display: block
    }
}